<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente assumenda facere dicta est ipsum, nisi facilis consequuntur maiores non temporibus quae sed porro pariatur aperiam nulla animi accusantium, possimus aut!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, inventore? Corporis quos nihil officiis corrupti, totam magnam a aspernatur, blanditiis, non suscipit pariatur quidem doloremque atque facere eum quia quasi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis reiciendis ea laboriosam dolore laudantium voluptates inventore, blanditiis consectetur perspiciatis quo et dolorum culpa, suscipit labore aspernatur impedit nisi error quod!</p>

    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>